.container {
    background: #3253cd;
    /*width: 100%;  убрать */
    height: 500px;
    padding: 13px;
    border: 1px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.button {
    width: 130px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.button-development-start {
    background-color: rgb(224, 189, 154);
}

.button-development-stop {
    background-color: rgb(228, 102, 86);
    width: 140px;
}

.code-block-wrapper {
    height: 500px;
    width: 500px;
    overflow-y: scroll;
}
.code-block {
    display: none;
    width: 500px;
    color: blue;
    height: 700px;
    background: azure;
    margin: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
