.container {
    background: #000000e3;
    /*width: 100%;  не потрібен   */
    /* height: 500px; не потрібен  */
    padding: 13px;
    border: 1px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: white;
}

.menu {
    background: rgb(228 102 86 / 91%);
    border: 3px solid black;
    width: 250px;
    height: 150px;
    padding: 10px;
}

.button {
    width: 130px;
    text-align: center;
    height: 30px;
    cursor: pointer;
}

.button-development-start {
    background-color: rgb(224, 189, 154);
}

.button-development-stop {
    background-color: rgb(228, 102, 86);
    width: 140px;
}

.code-block-wrapper {
    height: 500px;
    width: 537px;
    overflow-y: auto;
    margin: 2ch;
}
.code-block {
    display: none;
    width: 500px;
    color: blue;
    height: 700px;
    background: azure;
    margin: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.table-of-contents {
    text-align: center;
}
